.f-ctas{
    &__ctn{
        @include flex(center, center, row, wrap);
        margin: -20px;
        >*{
            margin: 20px;
        }
        @include m768{
            &.left{
                justify-content: flex-start;
            }
            &.right{
                justify-content: flex-end;
            }
        }
    }
}