.f-imgText {
    &__ctn {
        @include flex(initial, center);
        margin-left: -20px;
        margin-right: -20px;

        @include m991 {
            display: block;
        }
        &.reverse-- {
            flex-direction: row-reverse;
        }
        > * {
            margin-left: 20px;
            margin-right: 20px;
        }
        &-img {
            width: 47.9%;
            min-width: 47.9%;
            @include m991 {
                width: calc(100% - 40px);
                min-width: calc(100% - 40px);
                margin-bottom: 40px;
            }
            figure{
                display: block;
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        &-text {
            flex: 1;
        }
    }
}