.f-slider.single-- {
    .f-slider {
        &__navigation {
            margin-bottom: 30px;
        }
        &__ctn{
            &-item{
                text-align: center;
            }
        }
    }
}