body {
    margin: 15px;
}

:root {
    --danger : #DC3545;
    --primary : #2fa4e7;
}
/* All */
.form-label {
    font-weight: 500;
}


.form-control, .form-select {
    width: 400px;   
}

.btn {
    padding: 8px 20px;
}

.form-group {
    margin: 20px 0;
}

h3 {
    color: rgba(0,0,0,0.6);
}

label span {
    color : var(--danger);
}

/* Step 1 */

.step-1 .flex-group{
    display: flex;
    align-items: baseline;
}

.step-1 .flex-group > div {
    margin-right: 20px;
}

.step-1 .check-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.step-1 .check-group .form-check {
    margin-right: 30px;
}

.step-1 .btn-primary {
    margin-top: 20px;
}

/* Step 2 */

.step-2 .page-row {
    margin: 30px 0;
}

.step-2 .row-heading {
    display: flex;
    border-top: solid 1px black;
    justify-content: space-between;
    align-items: center;
}

.step-2 .row-heading .form-
.step-2 .row-heading > div {
    display: flex;
}

.step-2 .delete-row-btn {
    color: var(--danger);
    cursor: pointer; 
    font-size: 20px;
    opacity: 0.6;
}

.step-2 .delete-row-btn:hover {
    opacity: 1;
}

.step-2 p {
    opacity: 0.8;
}

.step-2 ul {
    list-style-type: none;
    padding: 0;
}

.step-2 .flexible-group {
    display: flex;
}

.step-2 .flexible-list li {
    display: flex;
    align-items: center;
}

.step-2 .flexible-list li i {
    color: var(--danger);
    margin-left: 12px;
    cursor: pointer;
    opacity: 0.6;
}

.step-2 .flexible-select {
    border: solid 1px rgba(0,0,0,0.3);
    background: none ;
    padding: 10px;
    height: fit-content;
    max-height: 200px;
    overflow-y: scroll;
    margin-right: 25px;     
}

.step-2 .flexible-select li {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-2 .flexible-select li i {
    color: var(--primary);
    cursor: pointer;
    font-size: 18px;
    opacity: 0.8;
}

.step-2 .flexible-select li i:hover{
    opacity: 1;
}

.step-2 .buttons {
    margin-top: 20px;
    display: flex;
}

.step-2 .buttons .btn-light {
    margin-right: 10px;
}


/* Media querries */

@media screen and (max-width: 460px){
    .form-control, .form-select {
        width: 100%;   
    }

    .step-2 .buttons {
        flex-direction: column;
        justify-content: stretch;
    }
    
    .step-2 .buttons .btn-light {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .step-2 .page-row {
        margin: 60px 0;
    }
}

/* Step 3 */
.step-3.alert {
    width: fit-content;
}

@media screen and (max-width: 850px){
    .step-1 .flex-group{
        display: block;
    }

    .step-1 .flex-group > div {
        margin: 20px 0;
    }
}

