// Variables declaration

//FONTS
$fontTitle:"Montserrat",sans-serif;
$fontText: "Montserrat",sans-serif;

//IMAGES
$imgPath: 'assets/img/';
// Use : background-image: url('#{$imgPath}nomimage.svg');

//COLORS
$black: #000;
$white: #fff;