.c-form {
    .form-title {
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.36;
        letter-spacing: .55px;
        &:not(:first-child) {
            margin-top: 75px;
        }
    }
    .form-desc {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: .38px;
        &:not(:first-child) {
            margin-top: 48px;
        }
    }
    .form-notice {
        margin-top: 60px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: .38px;
    }

    .form-row {
        @include flex(flex-start, flex-start);
        margin-left: -15px;
        margin-right: -15px;
        @include m767 {
            display: block;
        }
        & + .form-row {
            margin-top: 48px;
            @include m767 {
                margin-top: 0;
            }
        }
    }
    .required {
        vertical-align: top;
        font-size: 11px;
    }
    .form-group {
        flex: 1 1 0;
        margin-left: 15px;
        margin-right: 15px;
        label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .6px;
            line-height: 1.33;
        }
        input {
            &:focus {
                outline: none;
            }
        }
        input[type="text"], input[type="email"], textarea, input[type="number"], input[type="tel"] {
            width: 100%;
            padding: 14px 21px;
            border: solid 2px $black;
            background-color: $white;
            line-height: 1.2;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontText;
            @include placeholder {
                font-family: $fontText;
                color: rgba($black, .8);
            }
            &:focus {
                outline: none;
            }
        }
        textarea {
            padding-top: 16px;
            padding-bottom: 16px;
            height: 130px;
            @include m1024 {
                padding-top: 16px;
                padding-right: 16px;
                height: 270px;
            }
        }
        & + &.email {
            @include m767 {
                margin-top: 20px;
            }
        }
        &.email {
            flex: 1.5;
            @include m767 {
                min-width: 100%;
                width: 100%;
                flex: 1;
            }
        }
        &.checkbox, &.radio {
            display: block;
            position: relative;
            @include m1024 {
                max-width: 33.33%;
            }
            .checkboxCtn, .radioCtn {
                @include flex(flex-start, flex-start);
                input {
                    cursor: pointer;
                    z-index: 2;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &:checked + span {
                        &:after {
                            opacity: 1;
                        }
                    }
                }

                label {
                    margin-bottom: 0;
                    max-width: 200px;
                }
                span {
                    position: relative;
                    display: block;
                    width: 20px;
                    height: 20px;
                    min-width: 20px;
                    margin-right: 12px;
                    border: solid 2px $black;
                    background-color: $white;
                    &:after {
                        opacity: 0;
                        content: "\e90b";
                        display: block;
                        position: absolute;
                        top: calc(50% - 2px);
                        left: calc(50% + 6px);
                        transform: translate(-50%, -50%);
                        @include icomoon();
                        font-size: 17px;
                        color: $black;
                        transition: opacity .4s ease-in-out;
                    }
                }
            }

            a {
                display: inline-block;
                position: relative;
                z-index: 3;
                text-decoration: underline;
            }
            .error {
                flex: 1;
                width: 100%;
                min-width: 100%;
            }
        }
        &.radio {
            .radioCtn {
                margin-top: 15px;
                margin-left: -25px;
                margin-right: -25px;
                > div {
                    position: relative;
                    @include flex(flex-start, flex-start);
                    margin-left: 25px;
                    margin-right: 25px;
                }
                span {
                    border-radius: 50%;
                    &:after {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: $black;
                        border-radius: 50%;
                    }
                }
            }
        }
        .dateCtn {
            @include flex(flex-start, flex-start);
            margin-left: -30px;
            margin-right: -30px;
            @include m767 {
                display: block;
            }
            &__item {
                @include flex(flex-start, center);

                label {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                /* placeholder text style */
                input[type="date"]::-webkit-datetime-edit-text,
                input[type="date"]::-webkit-datetime-edit-month-field,
                input[type="date"]::-webkit-datetime-edit-day-field,
                input[type="date"]::-webkit-datetime-edit-year-field {
                    color: rgba($black, .5);
                }

                &:last-child {
                    @include m767 {
                        margin-top: 26px;
                    }
                }

                &-input {
                    @include flex(space-between, flex-start);
                    position: relative;
                    padding: 12px 28px;
                    background-color: $white;
                    border: 3px solid $white;
                    border-radius: 5px;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.2;
                    &.active {
                        .placeholder {
                            //opacity: 0;
                            color: $black;
                        }
                    }

                    input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                    .placeholder {
                        color: rgba($black, .5);
                    }
                    i {
                        display: inline-block;
                        cursor: pointer;
                        margin-left: 24px;
                    }
                }

            }
        }
        &.submit {
            @include m767 {
                margin-top: 44px;
            }
        }
        .js-submit {
            position: relative;
            span {
                display: block;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.loading {
                color: transparent;
                background-color: $black;
                span {
                    opacity: 1;
                    color: $white;
                }
            }
        }
    }
    .choices {
        width: 100%;
        margin-bottom: 0;
    }

    /*ERRORS*/
    $error: #fd8e29;
    .error-message {
        display: none;
    }

    .form-group .error, .form-group .success {
        margin-top: 5px;
        opacity: 0;
        color: $error;
        font-size: 13px;
        font-weight: bold;
        transition: opacity .35s ease-in-out;
    }

    .form-group.error {
        //input:not([type="checkbox"]) {
        input:not([type="checkbox"]):not([type="radio"]), textarea, .choices__inner {
            border-color: $error;
            color: $error;
            @include placeholder() {
                color: $error;
            }
        }
        &.file,
        &.radio,
        &.checkbox {
            .checkboxCtn, .radioCtn {
                color: $error;
            }
            span {
                border-color: $error;
            }
        }
    }

    .form-group .success.active,
    .form-group .error.captcha--.active,
    .form-group .error.global--.active {
        border: none !important;
    }

    .form-group .error.captcha--.active,
    .form-group .error.global--.active {
        color: $error !important;
    }

    .form-group .success.active {
        color: #60c584;
        font-weight: 800;
        font-size: 15px;
    }

    .form-group .error.global-- {
        font-size: 14px;
        span {
            display: block;
        }
    }

    .form-group .success.active,
    .form-group.error .error,
    .form-group .error.captcha--.active,
    .form-group .error.global--.active {
        opacity: 1;
    }

    .error {
        .choices {
            &__inner {
                border-color: $error;
            }
        }
    }

}
