.swiper {
    &-slide{
        height: auto!important;
    }
    .swiper-button {
        &-prev, &-next {
            display: block;
            width: auto;
            height: auto;
            margin-top: 0;
            color: $black;
            &:after {
                display: none;
            }
        }
    }
    &[data-navigation="scrollbar"] {
        .swiper-wrapper {
            padding-bottom: 40px;
        }
    }
    &.swiper-horizontal > .swiper-scrollbar {
        cursor: pointer;
        z-index: 4;
        width: calc(100% - 60px);
        max-width: 360px;
        height: 14px;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-scrollbar-drag {
        background-color: $black;
    }
}

.f-slider {
    &__navigation {
        @include flex(flex-end, center);
        button {
            position: static;
            font-size: 16px;
        }
        &-next {
            margin-left: 18px;
        }
    }
    &__ctn{
        &[data-navigation="scrollbar"]{
            cursor: url('#{$imgPath}cursor-drag.svg') 60 60, auto;
            .f-slider__ctn-item{

            }
        }
        &-item{
            @include flex(center, center, column);
            width: 100%;
            height: 100%;
            >*{
                width: 100%;
            }
        }
    }
}