.c-social{
    @include flex(flex-start, center);
    margin-left: -37px;
    margin-right: -37px;
    >*{
        margin-left: 37px;
        margin-right: 37px;
    }

    .icon-instagram,
    .icon-facebook,
    .icon-linkedin,
    .icon-tiktok,
    .icon-whatsapp{
        font-size: 32px;
    }
    .icon-twitter,
    .icon-youtube{
        font-size: 24px;
    }

    li{
        a{
            @include m1025{
                transition: color .4s ease-in-out;
                &:hover{
                    color:rgba($black, .6);
                }
            }
        }
    }
}