.c-video {
    figure {
        display: block;
        figcaption {
            margin-top: 10px;
            font-size: 16px;
            font-style: italic;
            line-height: 1.88;
            text-align: left;
        }
    }
    &__player {
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
        }
        >*{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        video[poster]{
            object-fit: cover;
        }
        &-poster{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: opacity .4s ease-in-out;
            &.hidden{
                opacity: 0;
                visibility: hidden;
                transition: opacity .4s ease-in-out, visibility 0s linear .4s;
            }
            &-play{
                display: block;
                width: 145px;
                height: 145px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: $white;
                border-radius: 50%;
                font-size: 35px;
                transition: transform .4s ease-in-out;
                @include m1025{
                    &:hover{
                        transform: translate(-50%,-50%) scale(.9);
                        i{
                            transform: scale(1.4);
                        }
                    }
                }
                i{
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    left: 3px;
                    transition: transform .4s ease-in-out;
                }
            }
        }
    }
}