.c-card{
    @include m1025{
        &:hover{
            .c-card{
                &__img{
                    &:before{
                        background-color: rgba($black, .5);
                    }
                }
                &__title{
                    color:rgba($black, .5);
                }
            }
        }
    }
    &__img{
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 22px;
        background-color: #ccc;
        &:before{
            position: relative;
            z-index: 2;
            content:'';
            display: block;
            padding-bottom: 100%;
            background-color: transparent;
            transition: background-color .4s ease-in-out;
        }
        *{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
    &__suptitle{
        margin-bottom: 5px;
        font-family: $fontText;
        font-size: 15px;
        font-weight: 500;
        color: #969696;
    }
    &__category{
        display: inline-block;
        margin-top: 6px;
        margin-bottom: 8px;
        border-radius: 20px;
        padding: 8px 12px;
        background-color: $black;
        color:$white;
        font-size: 10px;
        font-family: $fontText;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__title{
        transition: color .4s ease-in-out;
    }
    &__content{
        margin-top: 10px;
        font-size: 15px;
    }
}