.c-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0; 
  left: 0; 
  visibility: hidden;
  pointer-events: none;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__ctn {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: $white;
    height: 50%;
    width: 50%; 
    padding: 30px; 

    @include m767 {
        width: 90%; 
        height: 80%; 
    }

    &-close {
        position: absolute; 
        top: 20px; 
        right: 20px; 
    }
  }
}
