@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nwc94s');
  src:  url('fonts/icomoon.eot?nwc94s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nwc94s') format('truetype'),
    url('fonts/icomoon.woff?nwc94s') format('woff'),
    url('fonts/icomoon.svg?nwc94s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-mid-right:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-tick:before {
  content: "\e90b";
}
.icon-tiktok:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-up:before {
  content: "\e90e";
}
.icon-whatsapp:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-zoom:before {
  content: "\e911";
}
