.f-slider.textImgSlider--.single-- {
    .f-slider{
        &__navigation{
            margin-bottom: 0;
            margin-top: 24px;
        }
    }
    .f-imgText {
        &__ctn {
            &-img {
                width: 39.6%;
                min-width: 39.6%;
                @include m991 {
                    width: calc(100% - 40px);
                    min-width: calc(100% - 40px);
                }
            }
        }
    }
}