/////// Utils
@import 'utils/reset';
@import 'utils/resetPlus';
@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/mixins';
@import 'utils/icons';
@import 'utils/animations';
@import 'utils/accessibility';
/////// Layout
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';
/////// Templates
/////// Components
@import 'components/button';
@import 'components/wysiwyg';
@import 'components/img';
@import 'components/slider';
@import 'components/video';
@import 'components/social';
@import 'components/card';
@import 'components/select';
@import 'components/form';
/////// Blocs
@import 'blocks/bloc_wysiwyg';
@import 'blocks/bloc_chapeau';
@import 'blocks/bloc_image_1_ou_2_colonnes';
@import 'blocks/bloc_slider_single';
@import 'blocks/bloc_slider_multi';
@import 'blocks/bloc_slider_type_3';
@import 'blocks/bloc_slider_type_4';
@import 'blocks/bloc_image_text';
@import 'blocks/bloc_citation';
@import 'blocks/bloc_accordeon';
@import 'blocks/bloc_reseaux_sociaux';
@import 'blocks/bloc_chiffres_cles';
@import 'blocks/bloc_liste_actualite';
@import 'blocks/bloc_communiques';
@import 'blocks/bloc_ctas';

